@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    outline: 0 !important
}

:root {
    --first-color: #253863;
    --second-color: #469a4d;
    --gray-color: #f6f9fc;
    --light-bg: #f0f7ff;
}

body {
    margin: 0.1px auto 0;
    padding: 0;
    color: #212529;
    font-size: 16px;
    width: 100%;
    font-weight: 400;
    background-color: #fff;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

::-moz-selection {
    color: #fff;
    background: var(--first-color)
}

::selection {
    color: #fff;
    background: var(--first-color)
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--first-color);
}

p {
    margin: 0 0 8px;
}

p,
ul li {
    font-size: 16px;
    line-height: 28px;
    color: #111;
}

ol,
ul {
    padding-left: 0;
    color: #111;
}

.list-style li {
    list-style-type: none;
    display: flex;
    /* align-items: center; */
    position: relative;
    padding: 0 0 0 15px;
    margin: 0 0 8px 5px;
    overflow: hidden;
    -webkit-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
}

    .list-style li:before {
        content: "";
        position: absolute;
        font-family: 'Font Awesome 6 Pro';
        left: 0;
        color: var(--first-color);
        font-size: 15px;
    }

.navbar-toggler:focus {
    box-shadow: none;
}

a,
button,
input[type=submit] {
    color: var(--first-color);
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    -webkit-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out
}

    a:focus,
    a:hover,
    button:focus,
    button:hover {
        color: var(--second-color);
        text-decoration: none;
        outline: 0 !important;
    }

.scroll-to-top {
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    -webkit-transition: .5s easeIn;
    transition: .3s all;
    opacity: 0;
    z-index: 99;
    transform-origin: bottom center;
    transform: rotate(-90deg) scale(0) translateX(85px);
    width: 50px;
    height: 50px;
    display: inline-block;
    background-color: var(--first-color);
    padding: 0;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 25px;
    box-shadow: 0 5px 25px rgb(0 0 0 / 20%);
}

    .scroll-to-top.fade.in {
        opacity: 1;
        transform: rotate(0) scale(1) translateX(0)
    }

    .scroll-to-top:hover {
        color: #fff;
        background-color: var(--second-color);
    }

.btn-main {
    display: inline-block;
    text-align: center;
    font-size: 15px;
    line-height: 25px;
    font-weight: 500;
    color: #fff;
    background-color: var(--second-color);
    padding: 10px 15px !important;
    min-width: 160px;
    border-radius: 0px;
    border: none;
    -webkit-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
    overflow: hidden;
    position: relative;
    text-transform: none;
}


    .btn-main:hover,
    .btn-main:focus {
        color: #fff;
        background-color: var(--first-color);
        border-color: var(--first-color);
    }

.btn-blue {
    border-color: var(--first-color);
    background-color: var(--first-color);
}

    .btn-blue:hover {
        border-color: var(--second-color);
        background-color: var(--second-color);
    }

.bdr-btn {
    color: var(--second-color);
    background-color: transparent;
}


.navigation-area {
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.08);
}

    .navigation-area.menu-fix {
        animation-name: fadeInDown;
        animation-fill-mode: none;
        background-color: #fff;
    }

.logo-sec {
    padding: 5px 0;
}

    .logo-sec img {
        -webkit-animation-duration: .6s;
        animation-duration: .6s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        animation-name: fadeInDown;
        animation-fill-mode: none;
        width: 200px;
    }

.menu-fix .logo-sec img {
    -webkit-animation-duration: .8s;
    animation-duration: .8s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-name: fadeInUp;
    animation-fill-mode: none;
}

.navigation-area.menu-fix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}




.menu-block {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 0px 0;
}

.menu-fix .menu-block {
    background-color: #fff;
}

.menu-sec {
    display: flex;
    justify-content: flex-end;
}

nav.navbar.navbar-expand-xl {
    padding: 0;
}

.navbar-expand-lg .navbar-nav {
    justify-content: flex-end;
}

.offcanvas-start {
    width: 100%;
}

.navbar-nav {
    justify-content: flex-end;
    align-items: center;
}

.nav-item {
    margin: 0 0 0 10px;
}

.nav-link {
    font-size: 15px;
    color: #111;
    line-height: 25px;
    padding: 15px 25px;
    font-weight: 500;
    position: relative;
    -webkit-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
}

    .nav-link:hover,
    .nav-link:focus {
        color: var(--second-color);
        /* animation: toBottomFromTop10 0.3s forwards; */
    }

/* @keyframes toBottomFromTop10 {
    49% {
        -webkit-transform: translateY(-10%);
        -ms-transform: translateY(-10%);
        transform: translateY(-10%);
    }

    50% {
        opacity: 0;
        -webkit-transform: translateY(10%);
        -ms-transform: translateY(10%);
        transform: translateY(10%);
    }

    51% {
        opacity: 1;
    }
} */


/* .nav-link.active::before {
	position: absolute;
	content: "";
	bottom: 0px;
	left: 0;
	width: 100%;
	border-bottom: 3px solid var(--second-color);
} */

.dropdown-toggle::after {
    content: none;
}

.nav-link.btn-main {
    color: #fff;
    animation: none;
    overflow: hidden;
    margin: 8px 0 0 0;
}

@media(max-width:1400px) {
    .nav-link.active::before {
        bottom: -6px;
    }
}

@media(min-width:1200px) {
    .dropdown-menu {
        display: block;
        width: 300px;
        opacity: 0;
        visibility: hidden;
        transform: translateX(-30px);
        background-color: #fff;
        -webkit-transition: 0.3s all ease-in-out;
        transition: 0.3s all ease-in-out;
        padding: 15px 15px;
        border-top: 3px solid var(--first-color);
    }

    .nav-item:hover .dropdown-menu {
        opacity: 1;
        visibility: visible;
        transform: translateX(0%);
    }
}

/* .nav-link:focus {
    color: #ffffff;
} */

.dropdown-item {
    color: var(--second-color);
    background-color: transparent;
    border-bottom: 1px solid #fff;
    padding: 0 0 10px;
}

    .dropdown-item:hover,
    .dropdown-item:active {
        color: var(--first-color);
        background-color: transparent;
        padding-left: 5px !important;
    }

.dropdown-menu li:last-child .dropdown-item {
    border-bottom: none;
}

@media(min-width:1200px) {
    .dropdown-menu li:last-child a {
        padding: 0;
    }
}

@media(max-width:1199px) {
    #hamburger {
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding: 0;
        box-shadow: none;
    }

        #hamburger .line {
            fill: none;
            stroke: var(--first-color);
            stroke-width: 6;
            transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
        }

        #hamburger .line1 {
            stroke-dasharray: 60 207;
            stroke-width: 6;
        }

        #hamburger .line2 {
            stroke-dasharray: 60 60;
            stroke-width: 6;
        }

        #hamburger .line3 {
            stroke-dasharray: 60 207;
            stroke-width: 6;
        }

        #hamburger.open .line1 {
            stroke-dasharray: 90 207;
            stroke-dashoffset: -134;
            stroke-width: 6;
        }

        #hamburger.open .line2 {
            stroke-dasharray: 1 60;
            stroke-dashoffset: -30;
            stroke-width: 6;
        }

        #hamburger.open .line3 {
            stroke-dasharray: 90 207;
            stroke-dashoffset: -134;
            stroke-width: 6;
        }

    button#hamburger {
        display: inline-block;
    }

    .offcanvas-start {
        width: 260px;
        background-color: var(--first-color);
        border-right: none;
    }

    .nav-item {
        padding: 0 10px;
        border-bottom: 1px solid #fff;
        margin: 0;
    }

    .navbar-nav {
        align-items: unset;
    }

    .nav-link {
        color: #fff;
        margin: 0 10px;
    }

        .nav-link.active::before {
            content: none;
        }

    .menu-arrow {
        display: inline-block;
        position: absolute;
        top: 3px;
        right: 10px;
        width: 43px;
        line-height: 39px;
        background-color: #fff;
        color: var(--first-color);
        text-align: center;
        font-size: 16px;
        /* z-index: 99; */
    }

    .dropdown .menu-arrow i {
        transform: rotate(0deg);
        -webkit-transition: 0.3s all ease-in-out;
        transition: 0.3s all ease-in-out;
        display: inline-block;
    }

    .menu-arrow.show i {
        transform: rotate(45deg);
    }

    .dropdown-menu {
        max-height: 0px;
        visibility: hidden;
        opacity: 0;
        overflow: visible;
        transform: none;
        -webkit-transition: 0.3s all ease-in-out;
        transition: 0.3s all ease-in-out;
        padding: 0;
        display: block;
        background-color: var(--second-color);
    }

        .dropdown-menu.show {
            max-height: 500px;
            visibility: visible;
            opacity: 1;
        }

    .dropdown-item {
        color: #fff;
        padding: 8px 12px;
        border-bottom: 1px solid var(--second-color);
    }

    .navbar-expand-xl .navbar-nav .dropdown-menu li {
        padding: 0 10px 0 0;
    }

    .nav-item:last-child {
        border-bottom: none;
    }
}

.section-divider {
    margin: 0 0 60px;
}

.section-grey {
    padding: 60px 0;
    background-color: var(--gray-color);
}

/****footer******/
.app-block-footer-main {
    background: url(../images/reputation-scorecard-on-the-go.png);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    margin: 0;
    padding: 40px 0 0;
    bottom: 0;
}

.app_block_img {
    text-align: center;
}



.footer-sec {
    padding: 60px 0 60px;
    /* background-image: url(../images/popup-bg.svg); */
    background-color: var(--first-color);
    position: relative;
    z-index: 9;
    background-size: cover;
    background-position: center;
}

.footer-logo img {
    width: 200px;
}

.footer-logo p {
    color: #fff;
}


.footer-head {
    font-size: 22px;
    line-height: 32px;
    color: #fff;
    margin: 0px 0 20px;
    font-weight: 600;
}

.useful-links li {
    list-style-type: none;
    margin-bottom: 5px;
    display: flex;
    /* align-items: center; */
    position: relative;
    padding: 0 0 0 15px;
    overflow: hidden;
    -webkit-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
}

    .useful-links li:before {
        content: "";
        position: absolute;
        font-family: 'Font Awesome 6 Pro';
        left: 0;
        color: #fff;
        font-size: 15px;
    }

    .useful-links li:after {
        content: "";
        position: absolute;
        font-family: 'Font Awesome 6 Pro';
        left: 8px;
        color: var(--second-color);
        font-size: 16px;
        -webkit-transform: translatex(-20px);
        transform: translatex(-20px);
        -webkit-transition: 0.3s all ease-in-out;
        transition: 0.3s all ease-in-out;
    }

.footer-links.useful-links.adderess li,
.footer-links.useful-links.adderess li {
    padding: 0;
}

    .footer-links.useful-links.adderess li:before,
    .footer-links.useful-links.adderess li:after {
        content: none;
    }

.useful-links li:hover:after {
    -webkit-transform: translatex(0px);
    transform: translatex(0px);
}

.useful-links li:hover {
    padding: 0px 0 0 20px;
}

.social-links {
    display: flex;
}

    .social-links a {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        font-size: 14px;
        color: #fff;
        border: 1px solid #fff;
        -webkit-transition: 0.3s all ease-in-out;
        transition: 0.3s all ease-in-out;
        margin: 0 10px 0 0;
    }

        .social-links a:hover {
            background-color: var(--second-color);
            color: #fff;
            border: 1px solid var(--second-color);
            animation: toBottomFromTop10 0.3s forwards;
        }

.footer-links li a,
.footer-links li p {
    display: flex;
    align-items: baseline;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
}

    .footer-links li a:hover {
        color: var(--second-color);
    }

.footer-bg a,
.footer-bg p {
    color: #fff;
    font-size: 14px;
    line-height: 25px;
}

.footer-links li i {
    margin-right: 8px;
}

.copyright-bg {
    background-color: #455684;
    padding: 20px 0;
}

    .copyright-bg p {
        color: #fff;
        font-size: 14px;
        line-height: 24px;
    }

    .copyright-bg a {
        -webkit-transition: 0.3s all ease-in-out;
        transition: 0.3s all ease-in-out;
        color: #fff;
        text-decoration: underline;
    }

        .copyright-bg a:hover {
            text-decoration: underline;
            color: #fff;
            font-style: italic;
            color: var(--second-color);
        }

.copyright-r {
    text-align: right;
}

.fb-icon:hover {
    background-color: #4267b2 !important;
    border: 1px solid #4267b2 !important;
}

.tw-icon:hover {
    background-color: #1da1f2 !important;
    border: 1px solid #1da1f2 !important;
}

.yt-icon:hover {
    background-color: red !important;
    border: 1px solid red !important;
}

.lkd-icon:hover {
    background-color: #0077b5 !important;
    border: 1px solid #0077b5 !important;
}

.pi-icon:hover {
    background-color: #E60023 !important;
    border: 1px solid #E60023 !important;
}

.in-icon:hover {
    background-color: #bc2a8d !important;
    border: 1px solid #bc2a8d !important;
}

.new-layout {
    display: none;
}
/*****faq*****/
.accordion-item {
    background-color: transparent;
    border: none;
    margin-bottom: 10px
}

.accordion-button {
    margin: 0;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    line-height: 26px;
    color: #fff;
    background-color: var(--first-color);
    box-shadow: none;
    transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
}

    .accordion-button:hover {
        color: #fff;
        background-color: #253863;
        box-shadow: none;
    }

    .accordion-button:not(.collapsed) {
        color: #fff;
        background-color: var(--second-color);
        box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
    }

.accordion-collapse.collapse {
    background-color: #fff;
}

.accordion-button::after {
    content: "\f107";
    font-family: 'Font Awesome 5 Pro';
    height: auto;
    width: auto;
}

.accordion-button:not(.collapsed)::after {
    /* content: "\f068"; */
    content: "\f107";
}
/*****faq-end*****/

@media(max-width:1024px) {
    .footer-left-block {
        display: flex;
    }

    .footer-sec {
        padding: 40px 0 40px;
    }
}

@media(max-width:990px) {

    .social-links a {
        width: 30px;
        height: 30px;
    }

    .footer-left-block {
        text-align: center;
        margin: 0 0 25px;
    }

    .footer-head {
        margin: 20px 0 10px !important;
    }

    .footer-logo {
        text-align: left;
    }
}

@media(max-width:767px) {

    .gray-bg {
        padding: 30px 0;
    }

    .section-divider {
        margin: 0 0 40px;
    }

    .section-grey {
        padding: 40px 0;
    }

    .logo-sec img {
        width: 150px;
    }

    .footer-head {
        text-align: center;
    }

    .footer-links li {
        justify-content: center;
    }

    .footer-links.useful-links {
        margin: 0;
    }

    .footer-links li a {
        flex-direction: column;
        align-items: center;
    }

    .footer-links li i {
        margin: 10px 0;
    }

    .footer-links.useful-links li a {
        flex-direction: row;
    }

        .footer-links.useful-links li a i {
            margin: 0 8px 0 0;
        }

    .footer-links.useful-links {
        margin: 0;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-logo {
        text-align: center;
    }

    .footer-logo {
        margin: 0;
    }

    .copyright-r {
        text-align: center;
        margin: 5px 0 0;
    }

    .copyright-l {
        text-align: center;
    }
}



/*****wow-animation-css***/

.custom-wow {
    visibility: hidden;
    opacity: 0;
}

    .custom-wow.animated {
        visibility: visible;
        opacity: 1;
        -webkit-transition: 0.3s all ease-in-out;
        transition: 0.3s all ease-in-out;
    }

        .custom-wow.animated.fadeInUp {
            -webkit-animation-name: fadeInUp;
            animation-name: fadeInUp;
        }

        .custom-wow.animated.fadeInRight {
            -webkit-animation-name: fadeInRight;
            animation-name: fadeInRight;
        }

        .custom-wow.animated.fadeInLeft {
            -webkit-animation-name: fadeInLeft;
            animation-name: fadeInLeft;
        }

        .custom-wow.animated.fadeInDown {
            -webkit-animation-name: fadeInDown;
            animation-name: fadeInDown;
        }

@-webkit-keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0)
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0)
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

@-webkit-keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0)
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0)
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

@-webkit-keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

    .animated.delay-1s {
        -webkit-animation-delay: 1s;
        animation-delay: 1s
    }

    .animated.delay-1-2s {
        -webkit-animation-delay: 1.2s;
        animation-delay: 1.2s
    }

    .animated.delay-1-4s {
        -webkit-animation-delay: 1.4s;
        animation-delay: 1.4s
    }

    .animated.delay-1-6s {
        -webkit-animation-delay: 1.6s;
        animation-delay: 1.6s
    }


/*********new*******/
.heading {
    font-size: 35px;
    line-height: 45px;
    padding: 0px 0 15px 0;
    position: relative;
    font-weight: 900;
    color: var(--first-color);
    margin: 0 0 30px;
    position: relative;
}

    .heading:after {
        content: '';
        background: #253863;
        position: absolute;
        width: 80px;
        height: 4px;
        bottom: 0;
        left: 0;
        right: auto;
        margin: 0 auto;
    }

    .heading.text-center:after {
        right: 0;
        margin: 0 auto;
    }


.sub-heading {
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    margin: 0 0 15px;
}

.tp-area {
    background: #253863;
    padding: 10px 0;
    text-align: center;
}

.tp-sec p span {
    font-size: 15px;
    line-height: 26px;
    font-weight: 400;
}

.link {
    color: #253863 !important;
    transition: 0.3s all ease-in-out;
    margin: 0 2px;
    background-color: #fff;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 2px;
    text-decoration: none;
    font-weight: 600;
}

    .link:hover {
        text-decoration: underline !important;
    }

@media (max-width:1024px) {
    .heading {
        font-size: 28px;
        line-height: 38px;
    }
}

@media (max-width:990px) {
    .app-block-footer-main {
        background-size: 100%;
    }

    .app_block_footer-inner {
        text-align: center;
    }

    .app_block_inner .heading {
        text-align: center;
    }

        .app_block_inner .heading:after {
            right: 0;
        }

    .app_block_img img {
        width: 60%;
    }
}

@media (max-width:767px) {

    .download-app {
        position: fixed;
        bottom: -100px;
        padding: 10px 0;
        text-align: center;
        width: 100%;
        z-index: 99;
        background: #f3f4f9;
        animation-name: fadeInUp;
        -webkit-animation-duration: .4s;
        animation-duration: .4s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        transition: 0.3s all ease-in-out;
    }

        .download-app a {
            color: #469a4d;
            font-size: 18px;
            line-height: 28px;
            font-weight: 500;
        }

    .download-app-mobile {
        bottom: 0;
    }

    .app_block_footer {
        flex-direction: column;
    }

    .app_block_inner {
        text-align: center;
    }

    .app_block_img {
        padding-right: 0;
        margin: 15px 0 0;
    }

    .social-links {
        justify-content: center;
    }

    .link {
        padding: 2px 10px;
    }

    .heading {
        font-size: 24px;
        line-height: 34px;
        padding: 20px 0 10px 0;
    }

    .media-form .input-group.mb-3 {
        flex-direction: column;
    }

    .media-form input.form-control {
        width: 100% !important;
        margin: 0 0 15px;
    }

    .heading.heading-left, .how-does-score-doc-work {
        text-align: center;
    }

    .heading:after {
        right: 0;
    }
}



/*****contact******/

.contact_form_block {
    background-color: #fff;
    padding: 30px 20px;
    margin-bottom: 15px;
    box-shadow: 0px 1px 11px #ddd;
    border-radius: 5px;
}


label {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
    font-size: 15px;
}

.form-group {
    margin-bottom: 15px;
}

.form-control,
select {
    height: 45px;
    font-size: 14px;
    border-radius: 0px;
    background-color: #f6f9fc;
    border: 0;
    padding: 15px 10px;
}

.form-select {
    height: auto !important;
    width: 100%;
}

textarea.form-control {
    height: 85px;
}

.form-control:focus,
.form-control:hover {
    box-shadow: none;
    border: none;
    background-color: #f6f9fc;
}
/* .form-select, .form-select:hover, .form-select:focus { 
    height: auto;
} */



/*Form Css*/
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

    [type="radio"]:checked + label,
    [type="radio"]:not(:checked) + label {
        position: relative;
        padding-left: 24px;
        cursor: pointer;
        line-height: 20px;
        display: inline-block;
        color: #253863;
    }

        [type="radio"]:checked + label:before,
        [type="radio"]:not(:checked) + label:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 18px;
            height: 18px;
            border: 1px solid #ddd;
            border-radius: 100%;
            background: #fff;
        }

        [type="radio"]:checked + label:after,
        [type="radio"]:not(:checked) + label:after {
            content: '';
            width: 12px;
            height: 12px;
            background: #469a4d;
            position: absolute;
            top: 3px;
            left: 3px;
            border-radius: 100%;
            -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
        }

        [type="radio"]:not(:checked) + label:after {
            opacity: 0;
            -webkit-transform: scale(0);
            transform: scale(0);
        }

        [type="radio"]:checked + label:after {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
        }

input[type="file"] {
    color: #777;
    opacity: 0.7;
}

.faq_question.collapsed[data-bs-toggle="collapse"] .fa-minus::before {
    content: "+";
    font-family: 'Font Awesome 6 Pro';
}

.collapse[data-bs-toggle="collapse"] .fa-minus::before {
    content: "/2b";
}

.form-group {
    margin-bottom: 12px;
}

.form-control {
    font-size: 14px;
    height: 45px;
    border-radius: 4px;
}

    .form-control:focus {
        box-shadow: none;
    }

.providers_radio {
    margin-bottom: 15px;
}

.alert_block .alert {
    padding: 4px 10px;
}

.main_banner_form {
    background-color: #f6f9fc;
    padding: 40px 0;
}


.partnership_feature_form {
    background-color: #fff;
    padding: 0;
    border-radius: 10px;
    -webkit-box-shadow: 0px 5px 30px rgb(0, 0, 0, 0.1);
    box-shadow: 0px 5px 30px rgb(0, 0, 0, 0.1);
}

.banner_form_block {
    padding: 0px 25px 30px;
}

.partnership_feature_form h3 {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    padding: 15px 25px;
    background-color: #459a4e;
    margin-bottom: 20px;
    border-radius: 10px 10px 0 0;
}

.main_banner_text h1 {
    font-size: 46px;
    line-height: 60px;
    color: #253863;
    margin: 0 0 15px;
    font-weight: 700;
}

.main_banner_text p {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    color: #253863;
    margin: 0 0 15px;
}

.main_banner_text ul {
    margin: 0 0 30px;
    padding: 0;
}

    .main_banner_text ul li {
        list-style: none;
        font-size: 16px;
        list-style: 30px;
        position: relative;
        padding: 6px 0 0 18px;
    }

        .main_banner_text ul li:before {
            content: "+";
            position: absolute;
            left: 0;
            color: #469a4d;
        }

.btn_green {
    color: #fff;
    background-color: #469a4d;
    border: 0;
    padding: 12px 30px;
    transition: 0.3s all ease-in-out;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 15px;
    text-transform: uppercase;
    border-radius: 3px;
    cursor: pointer;
}

.btn_blue {
    color: #fff;
    background-color: #253863;
    border: 0;
    padding: 12px 30px;
    transition: 0.3s all ease-in-out;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 15px;
    text-transform: uppercase;
    border-radius: 3px;
    cursor: pointer;
}

    .btn_blue:hover,
    .btn_blue:focus,
    .btn_green:hover,
    .btn_green:focus {
        color: #fff;
        text-decoration: none;
    }

    .btn_blue i,
    .btn_green i {
        margin-right: 8px;
        font-size: 12px;
        padding: 0;
    }

.sample_report_form {
    text-align: center;
}

#SampleReportModalTitle {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
}

#SampleReportModal .modal-content {
    border: none;
    border-radius: 0;
}

#SampleReportModal .modal-header {
    border: none;
    padding: 1rem 1rem;
    background-color: #253863;
    border-radius: 0;
}

    #SampleReportModal .modal-header .close {
        color: #fff;
        font-weight: 400;
    }

#SampleReportModal .modal-body {
    padding: 2rem 1rem;
}

.top_heading_block {
    text-align: center;
    margin-bottom: 30px;
}

    .top_heading_block h2 {
        font-size: 26px;
        font-weight: 600;
        color: #253863;
    }

.use_cases_block {
    padding: 60px 0;
}

.use_case_heading {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
}

.use_case_heading_icon img {
    width: 45px;
}

.use_case_heading_text h3 {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    color: #253863;
    line-height: 24px;
}

    .use_case_heading_text h3 span {
        display: block;
        font-size: 13px;
        text-transform: uppercase;
        color: #469a4d;
    }

.use_case_heading_icon {
    margin-right: 15px;
}

.use_case_each {
    background-color: #f6f9fc;
    padding: 30px 25px;
    position: relative;
    border: 1px solid transparent;
    -webkit-transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
    transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
    border-radius: 1px;
    min-height: 100%;
    transition: 0.3s all ease-in-out;
}

.use_case_description p {
    margin: 0;
}

.use_case_each::before {
    content: '';
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: 1;
    width: 0%;
    height: 1px;
    background: #d8e4ff;
    box-shadow: inset 0px 0px 0px #b0bcd7;
    display: block;
    -webkit-transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
    transition: all 0.4s cubic-bezier(.5, .24, 0, 1)
}

.use_case_each:hover::before {
    width: 100%;
}

.use_case_each::after {
    content: '';
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 1;
    width: 0%;
    height: 1px;
    background: #d8e4ff;
    -webkit-transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
    transition: all 0.4s cubic-bezier(.5, .24, 0, 1)
}

.use_case_each:hover::after {
    width: 100%;
}

.use_case_each:hover {
    border-left: 1px solid #d8e4ff;
    border-right: 1px solid #d8e4ff;
    -webkit-box-shadow: 0px 5px 30px rgb(0, 0, 0, 0.1);
    box-shadow: 0px 5px 30px rgb(0, 0, 0, 0.1);
}



.key_features_block {
    padding: 60px 0;
}

.features_options_heading {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.features_options_heading_text h3 {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    color: #253863;
}

    .features_options_heading_text h3 span {
        display: block;
        font-size: 13px;
        text-transform: uppercase;
        color: #469a4d;
    }

.features_options_heading_icon {
    margin-right: 15px;
}

    .features_options_heading_icon img {
        width: 40px;
    }

.features_options_each {
    background-color: transparent;
    padding: 0;
    margin-bottom: 30px;
    position: relative;
    border: 1px solid transparent;
    -webkit-transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
    transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
}

    .features_options_each p {
        margin: 0;
    }

.how_it_works_block {
    padding: 60px 0;
    position: relative;
}

    .how_it_works_block::before {
        position: absolute;
        content: "";
        background-color: #f6f9fc;
        bottom: 0;
        height: 35%;
        width: 100%;
    }

.step_each {
    border: 1px solid #d8e4ff;
    background-color: #fff;
    padding: 30px 20px;
    text-align: center;
    border-radius: 15px;
    -webkit-box-shadow: 0px 5px 30px rgb(0, 0, 0, 0.1);
    box-shadow: 0px 5px 30px rgb(0, 0, 0, 0.1);
    margin: 10px 0 0;
    min-height: calc(100% - 10px)
}

    .step_each h3 {
        font-size: 22px;
        color: #253863;
        font-weight: 600;
    }

    .step_each p {
        margin: 0;
    }

.cta_block {
    background-color: #253863;
    padding: 40px 0;
}

.cta_block_inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

    .cta_block_inner h3 {
        font-size: 20px;
        line-height: 30px;
        margin: 0;
        color: #fff;
    }


.blog_section_main {
    padding: 60px 0;
}

.blog_each {
    display: inline-block;
    transition: 0.3s all ease-in-out;
    background-color: #f6f9fc;
}

.blog_desc {
    padding: 15px;
    position: relative;
    border: 1px solid #f6f9fc;
}

    .blog_desc h3 {
        font-size: 20px;
        font-weight: 600;
        line-height: 28px;
        min-height: 80px;
        color: #253863;
    }

    .blog_desc h5 {
        font-size: 13px;
        font-weight: 600;
        text-transform: uppercase;
        opacity: 0.6;
        color: #000;
    }

.blog_each:hover {
    text-decoration: none;
    -webkit-box-shadow: 0px 5px 30px rgb(0, 0, 0, 0.1);
    box-shadow: 0px 5px 30px rgb(0, 0, 0, 0.1);
}


.faq_block_main {
    padding: 60px 0;
}

.faq_each {
    margin: 10px 0;
}

.faq_question {
    margin: 0;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    color: #253863;
    display: flex;
    padding: 15px 0;
    align-items: center;
    justify-content: space-between;
}

.question_text {
    padding: 10px 0;
    font-size: 15px;
    line-height: 25px;
}


[data-toggle="collapse"] .plus-icon:before {
    content: "\f068";
}

[data-toggle="collapse"].collapsed .plus-icon:before {
    content: "\f067";
}

.faq_question i {
    margin-left: 20px;
}

@media(max-width:1200px) {
    .scroll-to-top {
        bottom: 80px;
    }
}

@media(max-width:990px) {
    .use_case_each {
        margin-bottom: 30px;
    }

    .main_banner_text h1 {
        font-size: 36px;
        line-height: 48px;
    }

    .blog_desc h3 {
        font-size: 16px;
        line-height: 22px;
    }

    .copyright_text {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media(max-width:767px) {
    .top_app_area {
        padding: 0 10px;
    }

    .main_banner_text {
        margin-bottom: 30px;
        text-align: center;
    }

        .main_banner_text h1 {
            font-size: 26px;
            line-height: 36px;
        }

    .features_options_each {
        background-color: #fff;
        padding: 30px 25px;
        -webkit-box-shadow: 0px 5px 30px rgb(0, 0, 0, 0.1);
        box-shadow: 0px 5px 30px rgb(0, 0, 0, 0.1);
    }

    .step_each {
        margin-bottom: 30px;
    }

    .cta_block_inner {
        flex-direction: column;
        text-align: center;
    }

        .cta_block_inner h3 {
            margin-bottom: 15px;
        }

    .blog_each {
        margin-bottom: 30px;
    }

    .blog_desc h3 {
        font-size: 20px;
        line-height: 30px;
    }
}


/*******payment-form***********/
span.input-group-text {
    height: 45px;
    background-color: #f6f9fc;
    border: 0;
}


.price-dsc-main {
    background-color: #f6f9fc;
    padding: 15px 10px;
}

    .price-dsc-main p {
        display: flex;
        justify-content: space-between !important;
        margin: 0;
        width: 100%;
        font-weight: 600;
    }

.payment-form-block {
    border: 1px solid #eee;
    padding: 15px;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 0px 8px #ddd;
}

.swa-sec {
    display: none;
}

.iconfixheight span.input-group-text {
    height: 100% !important;
}