header {
  position: sticky;
  border-bottom: 1px solid #eee;
}

.nav-link {
  color: #102037;
}
.nav-link:hover, .nav-link:focus {
  color: #102037;
}
.nav-link.btn-main {
  color: #fff;
}

#hamburger .line {
  stroke: #253863;
}

.bg-light-gray {
  background-color: #fbfbfb;
}

.pad-80 {
  padding: 80px 0;
}

/*---- Featured Article ----*/
.featured_article_details h1 {
  font-size: 4rem;
  line-height: 4.8rem;
  font-weight: 700;
  margin: 10px 0 15px;
  color: #253863;
}
.featured_article_details .featured_article_category {
  background-color: #51ad5b;
  display: inline-block;
  padding: 2px 10px;
  border-radius: 4px;
  color: #fff;
  text-decoration: none;
}
.featured_article_details .auth_n_date {
  border-left: 4px solid #51ad5b;
  padding: 2px 5px;
  font-size: 1.8rem;
  line-height: 2.2rem;
  font-weight: 600;
  margin-bottom: 15px;
}
.featured_article_details .featured_article_read_more {
  text-decoration: none;
  display: inline-block;
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: 600;
  position: relative;
  overflow: hidden;
}
.featured_article_details .featured_article_read_more::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #f1f1f1;
}
.featured_article_details .featured_article_read_more::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #102037;
  z-index: 1;
  transition: 0.1s all ease-in-out;
}
.featured_article_details .featured_article_read_more:hover::before {
  width: 100%;
}

.featured_article_img {
  background-color: #fff;
  padding: 10px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}
.featured_article_img img {
  border-radius: 8px;
}

@media (max-width: 1024px) {
  .featured_article_details h1 {
    font-size: 2.8rem;
    line-height: 3.8rem;
  }
}
@media (max-width: 767px) {
  .featured_article_details {
    margin-bottom: 30px;
  }
  .featured_article_details h1 {
    font-size: 3.2rem;
    line-height: 3.8rem;
  }
}
/*---- Featured Article Ends----*/
/*---- Article Listing ----*/
.article_each_thumb {
  background-color: #fff;
  padding: 15px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 30px;
  transition: 0.2s all ease-in-out;
}
.article_each_thumb img {
  border-radius: 5px;
}
.article_each_thumb:hover {
  box-shadow: none;
  background-color: #f7f5f5;
}
.article_each_thumb .article_thumb_details {
  padding: 15px 0 10px;
}
.article_each_thumb .article_thumb_details .thumb_category {
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 600;
  color: #51ad5b;
  text-transform: uppercase;
  text-decoration: none;
}
.article_each_thumb .article_thumb_details .thumb_title {
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 700;
  margin: 5px 0;
}
.article_each_thumb .article_thumb_details .thumb_btn {
  position: relative;
  overflow: hidden;
  font-weight: 600;
}
.article_each_thumb .article_thumb_details .thumb_btn::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #f1f1f1;
}
.article_each_thumb .article_thumb_details .thumb_btn::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #102037;
  z-index: 1;
  transition: 0.1s all ease-in-out;
}
.article_each_thumb .article_thumb_details .thumb_btn:hover::before {
  width: 100%;
}

.article_search_form .input-group {
  border: 1px solid #51ad5b;
  border-radius: 7px;
  overflow: hidden;
}
.article_search_form .form-control {
  border: none;
}
.article_search_form .search-button {
  background-color: #51ad5b;
  border: none;
  box-shadow: none;
  color: #fff;
  padding: 0 15px;
}

.article_filter_links li {
  list-style: none;
}
.article_filter_links li a {
  color: #102037;
  display: inline-block;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.8rem;
  padding: 0 0 0 5px;
  margin-bottom: 5px;
  border-left: 3px solid transparent;
}
.article_filter_links li a.active {
  border-left: 3px solid #51ad5b;
  color: #51ad5b;
}

@media (max-width: 767px) {
  .article_filter_links {
    display: flex;
    flex-wrap: wrap;
  }
  .article_filter_links li {
    margin: 0 8px;
  }
  .article_filter_links li a {
    padding: 0px;
    margin: 0;
    border-left: 0px;
  }
  .article_filter_links li a.active {
    border-left: 0px;
    border-bottom: 2px solid #51ad5b;
  }
}
/*---- Article Listing ----*/
/*---- Article Inner Page ----*/
.article_inner_main h1 {
  font-size: 4.2rem;
  line-height: 5.2rem;
  font-weight: 700;
  margin: 10px 0 20px;
  color: #253863;
}

.article_inner_featured_img {
  margin: 0 0 10px;
}

.article_inner_meta {
  margin: 0 0 20px;
}

.article_body_text p {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3rem;
  margin-bottom: 20px;
}
.article_body_text img {
  max-width: 100%;
  margin-bottom: 20px;
}
.article_body_text ul li > ul {
  margin-top: 10px;
}
.article_body_text ul li > ol {
  margin-top: 10px;
}
.article_body_text ol li > ul {
  margin-top: 10px;
}
.article_body_text ol li > ol {
  margin-top: 10px;
}
.article_body_text ul, .article_body_text ol {
  margin-bottom: 20px;
  margin-left: 40px;
}
.article_body_text ul li, .article_body_text ol li {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3rem;
  margin-bottom: 15px;
}
.article_body_text h2 {
  font-size: 3.4rem;
  line-height: 4.4rem;
  margin-bottom: 10px;
}
.article_body_text h3 {
  font-size: 3rem;
  line-height: 4rem;
  margin-bottom: 10px;
}
.article_body_text h4 {
  font-size: 2.6rem;
  line-height: 3.6rem;
  margin-bottom: 10px;
}
.article_body_text h5 {
  font-size: 2.2rem;
  line-height: 3.2rem;
  margin-bottom: 10px;
}
.article_body_text h6 {
  font-size: 2rem;
  line-height: 3rem;
  margin-bottom: 10px;
}
.article_body_text a {
  color: #0070d6;
  text-decoration: none;
}
.article_body_text a:hover {
  text-decoration: underline;
}
