@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">JobStation</h1>
    <p>JobStation :<a>Helping you find your Dream Job at the right Platform </a>.</p>
</div>
