


@{
    ViewData["Title"] = "Dashboard | ScoreDoc";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
   
}


<div class="dashboard_main" id="main">
    <div class="container-fluid">

        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12">
                <div class="chart-container" style="padding-top:0px;">
                    <div class="multi-button">
                        @*<button id="DashboardButton"><i class="fas fa-dashboard"></i> Dashboard</button>
                        <button id="PaymentButton"><i class="fas fa-dollar"></i> Payment</button>*@
                    </div>
                </div>
            </div>
        </div>     

    </div>
</div>