$primary-font: 'Poppins', sans-serif;
$first-color: #102037;
$second-color: #253863;
$third-color: #51ad5b;
$grey-bg-color: #f6f8fd;
$gradient: linear-gradient(to bottom, #0e49cc 0%, #558659 100%);
$desktop: 1200px;
$sm-desktop: 1199px;
$ipad-pro: 1024px;
$ipad: 990px;
$mobile: 767px;