@{
    string message = TempData["message"] == null ? "" : TempData["message"].ToString();
    string type = TempData["type"] == null ? "" : TempData["type"].ToString();
}


@if (message != "")
{
    <div class="col-sm-12">

        <div class="alert alert-@{@type} alert-dismissible fade show" role="alert">
            @message
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                <i class="fa-light fa-rectangle-xmark"></i>
            </button>
        </div>

    </div>
}

