@model LoginModel
@{
    ViewBag.Title = "Login - JobStation";
    ViewBag.Keyword = "";
    ViewBag.Description = "JobStation";
    ViewData["IncludeHeader"] = false;
    ViewData["IncludeFooter"] = false;
    ViewData["IncludeLoginCSS"] = true;
    var errors = ViewData.ModelState.SelectMany(x => x.Value.Errors);
}

<section>
    <div class="container">
        <div class="row justify-content-center justify-content-xl-start">
            <div class="col-xl-6 col-lg-8 col-md-10">
                <div class="login-module bg-white p-5">
                    <a class="mb-4" href="/" target="_blank" rel="noopener" title="JobStation">
                       
                    </a>
                    <div id="checkout-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <h2 class="heading mb-2">Welcome Back!</h2>
                                <p class="mb-5">To keep Connected with us please login with your personal information by Email & Password</p>
                                <form asp-controller="Account" asp-action="Login" method="post" id="LoginForm">
                                    <input type="hidden" name="ReturnUrl" value="@ViewBag.ReturnUrl" />
                                    @if (errors != null)
                                    {
                                        <div class="validation-summary-errors">
                                            <ul>
                                                @foreach (var error in errors)
                                                {
                                                    <li>
                                                        @Html.Raw(error.ErrorMessage)
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                    }
                                    <div class="mb-4">
                                        <div class="input-group">
                                            <input type="text" asp-for="Email" class="form-control" placeholder="Email*" />
                                            <div class="input-group-append">
                                                <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                            </div>
                                        </div>
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                    <div class="mb-4">
                                        <div class="input-group">
                                            <input type="password" asp-for="Password" class="form-control" placeholder="Password*" />
                                            <div class="input-group-append">
                                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                                            </div>
                                        </div>
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>


                                    <div class="mb-4">
                                        <a class="text-black" href="#checkout-carousel" data-bs-slide="next" title="Forgot Password?"><i class="fas fa-key"></i> Forgot Password?</a>
                                    </div>
                                    <div class="">
                                        <button type="submit" class="btn-main" title="Login" id="btnSubmitLogin">Login</button>
                                    </div>
                                </form>
                            </div>

                            @*<div class="carousel-item">
                                <h2 class="heading mb-2">Recover Password</h2>
                                <p class="mb-5">Please enter your email, a link will be shared to recover your password.</p>
                                <form asp-controller="Account" asp-action="ForgotPassword" method="post" id="ForgetPasswordForm">
                                    <div class="mb-4 input-group">
                                        <input type="text" asp-for="Email" class="form-control" placeholder="Email*" />
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                        </div>
                                    </div>
                                    <div class="mb-4">
                                        <a class="text-black" href="#checkout-carousel" role="button" data-bs-slide="prev" title="Go back to Login!"><i class="fas fa-long-arrow-left"></i> Go back to Login!</a>
                                    </div>
                                    <div class="">
                                        <button type="submit" class="btn-main" title="Send Email" id="btnSubmitForgetPasswordForm">Send Email</button>
                                    </div>
                                </form>
                            </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts{
    <partial name="~/Views/Shared/_ValidationScriptsPartial.cshtml" />
 
    <script>
        $(document).on('submit', '#LoginForm', function () {
            $('.ajax-loader').removeClass('d-none');
        });

        //$(document).on('submit', '#ForgetPasswordForm', function () {
        //    $('.ajax-loader').removeClass('d-none');
        //});
    </script>
    <style>
        .validation-summary-errors ul li {
            color: #f00;
        }
    </style>
}

   